<ion-toolbar mode="ios" color="dark">
    <ion-buttons slot="secondary">
        <a href="">
            <img src="../../assets/favicon/apple-touch-icon.png" width="20px" />
        </a>
        <ion-button [routerLink]="['home']">
            <ion-icon slot="icon-only" name="person-circle"></ion-icon>
        </ion-button>
        <ion-button>
            <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
        <ion-button id="trigger-menu">
            <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
        <ion-popover [dismissOnSelect]="true" trigger="trigger-menu" side="top"
            alignment="start">
            <ng-template>
                <ion-content>
                    <ion-list>
                        <ion-item id="nested-trigger" [button]="true" [detail]="true">
                            <ion-label>Go to Recent Activity ...</ion-label>
                        </ion-item>
                        
                        <ion-item [button]="true" [detail]="true">
                            <ion-label [routerLink]="['contact']">Reach me out ...</ion-label>
                        </ion-item>

                        <ion-item [button]="true" [detail]="true">
                            <ion-label [routerLink]="['timeline']">My timeline ...</ion-label>
                        </ion-item>

                        <ion-popover trigger="nested-trigger" [dismissOnSelect]="true" side="start">
                            <ng-template>
                                <ion-content>
                                    <ion-item [button]="true" [detail]="true">
                                        <ion-label [routerLink]="['activity']">Overall</ion-label>
                                    </ion-item>
                                    <ion-item [button]="true" [detail]="true">
                                        <ion-label [routerLink]="['activity/github']">GitHub</ion-label>
                                    </ion-item>
                                </ion-content>
                            </ng-template>
                        </ion-popover>
                    </ion-list>
                </ion-content>
            </ng-template>
        </ion-popover>
    </ion-buttons>
</ion-toolbar>