<ion-content class="ion-padding ion-align-items-center" color="dark">
    <h1>Timeline</h1>
    <ion-card *ngFor="let item of items" color="dark">
        <ion-item>
            <ion-avatar slot="start">
                <img src="{{item.image}}">
            </ion-avatar>
            <ion-label>
                <h3>{{item.title}}</h3>
                <p>{{item.date}}</p>
            </ion-label>
        </ion-item>
        <ion-card-header>
            <ion-card-title>{{item.subtitle}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            {{item.description}}
        </ion-card-content>
        <ion-footer>
            <ion-row>
                <ion-col center text-center *ngFor="let label of item.labels">
                    <ion-chip color="{{label.color}}">
                        <ion-icon name="{{label.icon}}" color="{{label.iconcolor}}"></ion-icon>
                        <ion-label>{{label.title}}</ion-label>
                    </ion-chip>
                </ion-col>
            </ion-row>
        </ion-footer>
    </ion-card>
</ion-content>