<ion-content>
<div>
    <h1>
        404
    </h1>
    <h2>
        Oops, you just hit a miss!
    </h2>
    <h3>
        But so that you don't feel like losing your time, here's a cool animation so you want to get yourself back on track!
    </h3>
</div>

<div id="splash-screen" class="splash">
    <div class="sk-fading-circle">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
    </div>
</div>
</ion-content>
