<ion-content color="dark" class="ion-padding">
    <h2>
        Reach me on
    </h2>
    <ion-list>
        <ion-item href="https://facebook.com">
            <ion-icon name="logo-facebook" slot="start"></ion-icon>
            <ion-label>
                <ion-text color="tertiary">
                    <h3>
                        Facebook
                    </h3>
                </ion-text>
            </ion-label>
        </ion-item>
        <ion-item href="https://twitter.com/nclsbayona">
            <ion-icon name="logo-twitter" slot="start"></ion-icon>
            <ion-label>
                <ion-text color="tertiary">
                    <h3>
                        Twitter
                    </h3>
                </ion-text>
            </ion-label>
        </ion-item>
        <ion-item href="https://www.linkedin.com/in/nicolas-bayona-07547b214/">
            <ion-icon name="logo-linkedin" slot="start"></ion-icon>
            <ion-label>
                <ion-text color="tertiary">
                    <h3>
                        LinkedIn
                    </h3>
                </ion-text>
            </ion-label>
        </ion-item>
        <ion-item href="https://github.com/nclsbayona">
            <ion-icon name="logo-github" slot="start"></ion-icon>
            <ion-label>
                <ion-text color="tertiary">
                    <h3>
                        GitHub
                    </h3>
                </ion-text>
            </ion-label>
        </ion-item>
        <ion-item href="https://instagram.com/nclsbayona">
            <ion-icon name="logo-instagram" slot="start"></ion-icon>
            <ion-label>
                <ion-text color="tertiary">
                    <h3>
                        Instagram
                    </h3>
                </ion-text>
            </ion-label>
        </ion-item>
        <ion-item href="https://t.me/nclsbayona">
            <ion-icon name="paper-plane" slot="start"></ion-icon>
            <ion-label>
                <ion-text color="tertiary">
                    <h3>
                        Telegram
                    </h3>
                </ion-text>
            </ion-label>
        </ion-item>
        <ion-item href="https://www.discord.com/channels/@nclsbayona#6681">
            <ion-icon name="logo-discord" slot="start"></ion-icon>
            <ion-label>
                <ion-text color="tertiary">
                    <h3>
                        Discord
                    </h3>
                </ion-text>
            </ion-label>
        </ion-item>
    </ion-list>
    <h2>
        Send me an email
    </h2>
    <form id="recaptcha-form" action="https://formspree.io/f/xknyewjj" method="POST">
        <ion-item class="ion-padding">
            <ion-label position="floating">Enter your full name</ion-label>
            <ion-input type="text" name="Name"></ion-input>
        </ion-item>
        <ion-item class="ion-padding">
            <ion-label position="floating">Enter your email</ion-label>
            <ion-input required type="text" name="Email"></ion-input>
        </ion-item>
        <ion-item class="ion-padding">
            <ion-label position="floating">Enter your message</ion-label>
            <ion-textarea required name="Message"></ion-textarea>
        </ion-item>
        <div class="g-recaptcha" data-sitekey="6LduAEUgAAAAAG8c_8fPelv4DmhiVAU-nOqtLgI6">
        </div>
        <ion-button id="submit" class="ion-padding button button-full button-positive" shape="round" expand="block"
            type="submit" name="submit">
            Send
        </ion-button>
    </form>
    <ion-button class="ion-padding" onclick="scrollToTop()" expand="block" fill="outline">Scroll To Top</ion-button>
</ion-content>
