<ion-content color="dark" class="ion-padding">
  <h1>
    Quick overview
  </h1>
  <ion-segment class="ion-padding">
    <img class="ion-align-items-center" src="https://raw.githubusercontent.com/nclsbayona/profile-summary/master/profile-summary-card-output/nord_dark/0-profile-details.svg" />
    <img class="ion-align-items-center" src="https://raw.githubusercontent.com/nclsbayona/profile-summary/master/profile-summary-card-output/nord_dark/3-stats.svg" />
  </ion-segment>
  <ion-segment class="ion-padding">
    <img class="ion-align-items-center" src="https://raw.githubusercontent.com/nclsbayona/profile-summary/master/profile-summary-card-output/nord_dark/1-repos-per-language.svg" />
    <img class="ion-align-items-center" src="https://raw.githubusercontent.com/nclsbayona/profile-summary/master/profile-summary-card-output/nord_dark/2-most-commit-language.svg" />
    <img class="ion-align-items-center" src="https://raw.githubusercontent.com/nclsbayona/profile-summary/master/profile-summary-card-output/nord_dark/4-productive-time.svg" />
  </ion-segment>
  <h1>
    Recent activity
  </h1>
    <iframe frameborder="2" scrolling="yes" allowfullscreen
src="http://colmdoyle.github.io/gh-activity/gh-activity.html?user=nclsbayona&type=user" width="300" height="300"></iframe>

</ion-content>