<ion-content class="ion-padding ion-align-items-center ion-justify-content-center" color="dark">
    <ion-item-divider color="tertiary" mode="ios">
        <ion-label>
            A quick description of my activities ...
        </ion-label>
    </ion-item-divider>
    <img class="ion-padding"
        src="https://github-readme-stats.vercel.app/api/top-langs/?username=nclsbayona&show_icons=true&locale=en&langs_count=5&theme=tokyonight"
        alt="nclsbayona's Most-Used Languages Github Stats" />
    <ion-item color="dark" class="ion-padding">
        <ion-label color="dark">
            <ion-text color="light">
                <h3>
                    I really like using <a href="https://www.linux.org/">Linux</a> and I'm a big fan of the open source stuff. My favourite distribution is Ubuntu MATE and I'm a big fan of the <a href="https://www.debian.org/">Debian</a> project.
                </h3>
            </ion-text>
        </ion-label>
        <ion-icon name="logo-tux" slot="end"></ion-icon>
    </ion-item>
    <ion-item color="dark" class="ion-padding">
        <ion-label color="dark">
            <ion-text color="light">
                <h3>
                    Recently I've been working on improving my skills and also I've been working a little on myself so that I can try my best in everything I do.
                </h3>
            </ion-text>
        </ion-label>
    </ion-item>
</ion-content>