<ion-content class="ion-padding" color="dark">
    <ion-img src="https://github-readme-stats.vercel.app/api/top-langs/?username=nclsbayona&show_icons=true&locale=en&langs_count=5&theme=tokyonight" alt="nclsbayona's Most-Used Languages Github Stats"> </ion-img>
    <ion-item class="ion-padding">
            <ion-label>
                <ion-text color="tertiary">
                    <h3>
                        I'm probably using Linux at the time
                    </h3>
                </ion-text>
            </ion-label>

<ion-icon name="logo-tux" slot="end"></ion-icon>
        </ion-item>
</ion-content>
