@import "~swiper/css";
@import "~swiper/css/effect-cards";

.swiper {
    margin: 1%;
  align-items: center;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10%;
  font-size: 22px;
  padding-top: 1%;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(110, 4, 4);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(27, 39, 0);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(6, 75, 46);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(57, 80, 5);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(88, 6, 24);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(1, 21, 77);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(44, 4, 44);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(23, 39, 32);
}
