<ion-content class="ion-padding" color="dark" [scrollEvents]="true" (ionScrollStart)="logScrollStart()"
    (ionScroll)="logScrolling($event)" (ionScrollEnd)="logScrollEnd()">
    <ion-item-divider color="tertiary" mode="ios">
        <ion-label>
            A quick description of me
        </ion-label>
    </ion-item-divider>
    <ion-card mode="md" inset="true" lines="inset" color="dark" class="ion-padding">
        <ion-card-header>
            <ion-card-subtitle>
                <ion-text color="primary">
                    I'm a systems engineering student passionate about software development and the use of technologies
                    to help people.
                </ion-text>
            </ion-card-subtitle>
            <ion-card-title mode="md">
                <div class="ion-padding ion-justify-content-center ion-align-items-center ion-wrap-reverse">
                    <h1>nclsbayona</h1>
                    <img src="../../assets/nclsbayona.png" />
                </div>
            </ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-list>
                <ion-list-header>
                    <ion-label>
                        <ion-text color="tertiary">
                            <h2>
                                Basic information
                            </h2>
                        </ion-text>
                    </ion-label>
                </ion-list-header>
                <ion-item color="dark">
                    <ion-icon name="calendar" slot="start"></ion-icon>
                    <ion-label>
                        <ion-text>
                            <b>Born On:</b>
                        </ion-text>
                        <ion-text>
                            August 6
                        </ion-text>
                    </ion-label>
                </ion-item>
                <ion-item color="dark">
                    <ion-icon name="home" slot="start"></ion-icon>
                    <ion-label>
                        <ion-text>
                            <b>Living In:</b>
                            Bogotá, Colombia
                        </ion-text>
                    </ion-label>
                </ion-item>
                <ion-item color="dark">
                    <ion-icon name="planet" slot="start"></ion-icon>
                    <ion-label>
                        <ion-text>
                            <b>Inhabitating:</b>
                            Planet earth
                        </ion-text>
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-item-divider color="tertiary" mode="ios">
        <ion-label>
            Some facts about me
        </ion-label>
    </ion-item-divider>
    <swiper [loop]="true" [spaceBetween]="30" [slidesPerView]="'auto'" [centeredSlides]="true" [effect]="'cards'">
        <ng-template swiperSlide>
            <div class="slide">
                <img src="../../assets/welcome.gif" />
                <h2>Welcome</h2>
                <p>
                    I built this webpage with <ion-icon name="heart" color="danger"></ion-icon> using Angular and
                    Ionic frameworks, as a little showcase for my abilities as a developer.
                </p>
            </div>
        </ng-template>

        <ng-template swiperSlide>
            <div class="slide ion-padding">
                <h2>Interests</h2>
                <p>
                    I really like <a href="https://docker.com">docker</a> and <a
                        href="https://kubernetes.io">kubernetes</a>.
                </p>
                <img src="../../assets/kube_doc.png" />
            </div>
        </ng-template>

        <ng-template swiperSlide>
            <div class="slide">
                <img src="../../assets/arsenal.jpg" />
                <h2>I'm an Arsenal FC fan!</h2>
                <p>
                    <ion-icon name="shirt" color="danger"></ion-icon>
                    <ion-icon name="shirt"></ion-icon>
                    Lets go Gunners!!!
                    <ion-icon name="heart" color="danger"></ion-icon>
                </p>
            </div>
        </ng-template>

        <ng-template swiperSlide>
            <div class="slide">
                <h2>Powerhouse!</h2>
                <p>
                    In mobile development at least, I think flutter is just a really cool and powerful way to build
                    apps.
                </p>
                <img src="../../assets/flutter.png" />
            </div>
        </ng-template>

        <ng-template swiperSlide>
            <div class="slide">
                <img src="../../assets/DevOps.png" />
                <h2>DevOps</h2>
                <p>
                    I'm really passionate about DevOps, and I'm always looking for new ways to improve my skills, but
                    also new ways to put my skills in practice.
                </p>
            </div>
        </ng-template>

        <ng-template swiperSlide>
            <div class="slide">
                <h2>Personal Stuff</h2>
                <p>
                    I like helping others in my community communicating my experience and knowledge related to different
                    topics. I understand that it is not always easy to help someone and sometimes it appears that
                    nothing changes no matter how hard you try, but I always try to do my best to help others so they
                    can live a happy life.
                    Sometimes to help someone, all it takes is hearing them.
                </p>
                <img src="../../assets/Dan-Brown-Quote.jpg" />
            </div>
        </ng-template>

    </swiper>
    <ion-button class="ion-padding" onclick="scrollToTop()" expand="block" fill="outline">Scroll To Top</ion-button>
</ion-content>